language: android
jdk:
  - oraclejdk8
# Turn off caching to avoid any caching problems
cache: false
# Don't use the Travis Container-Based Infrastructure - See #476
sudo: true
env:
  global:
    - ANDROID_API_LEVEL=24
    - ANDROID_BUILD_TOOLS_VERSION=24.0.0
    - ANDROID_ABI=armeabi-v7a
    - ADB_INSTALL_TIMEOUT=20 # minutes (2 minutes by default - see #247)
android:
  components:
    - platform-tools	
    - tools
    - build-tools-$ANDROID_BUILD_TOOLS_VERSION
    - android-$ANDROID_API_LEVEL
    # Google Play Services
    - extra-google-google_play_services
    # Support library
    - extra-android-support
    # Latest artifacts in local repository
    - extra-google-m2repository
    - extra-android-m2repository
    # Specify at least one system image
    - sys-img-armeabi-v7a-android-$ANDROID_API_LEVEL
before_install:
 - chmod +x gradlew
before_script:
  # Create and start emulator
  - echo no | android create avd --force -n test -t android-$ANDROID_API_LEVEL --abi $ANDROID_ABI
  - emulator -avd test -no-skin -no-audio -no-window &
script:
  - ./wait_for_emulator
  - ./gradlew connectedObaGoogleDebugAndroidTest -PdisablePreDex
